/* SYSTEM COMPONENTS VARIABLES */

@import '-system.css';

:root {

	/* CARD */

	/* Card - base */
	--fio-component-card-background: var(--fio-background-neutral-color-white);
	--fio-component-card-border-color: var(--fio-sys-color-neutral-light);
	--fio-component-card-border-width: var(--fio-sys-spacing-border-width-sm);
	--fio-component-card-border-radius: var(--fio-sys-spacing-border-radius-lg);

	/* Card - elevation */
	--fio-component-card-elevation-low: var(--fio-sys-elevation-sm);
	--fio-component-card-elevation-medium: var(--fio-sys-elevation-md);
	--fio-component-card-elevation-high: var(--fio-sys-elevation-lg);
	--fio-component-card-elevation-higher: var(--fio-sys-elevation-xl);

	/* Card - primary color */
	--fio-component-card-background-primary: var(--fio-sys-primary-color);
	--fio-component-card-border-color-primary: var(--fio-sys-color-primary-dark-contrast);

	/* Card - thumb */
	--fio-component-card-thumb-padding: var(--fio-sys-spacing-padding-0);
	--fio-component-card-thumb-border-radius: var(--fio-sys-spacing-border-radius-0);

	/* Card - header */
	--fio-component-card-header-padding-y: var(--fio-sys-spacing-padding-md);
	--fio-component-card-header-padding-x: var(--fio-sys-spacing-padding-md);

	--fio-component-card-header-background: var(--fio-sys-tertiary-color-light);
	--fio-component-card-header-family: var(--fio-sys-typography-title-small-family);
	--fio-component-card-header-line-height: var(--fio-sys-typography-title-small-line-height);
	--fio-component-card-header-size: var(--fio-sys-typography-title-small-size);
	--fio-component-card-header-tracking: var(--fio-sys-typography-title-small-tracking);
	--fio-component-card-header-weight: var(--fio-sys-typography-title-small-weight);

	/* Card - body */
	--fio-component-card-body-padding-y: var(--fio-sys-spacing-padding-lg);
	--fio-component-card-body-padding-x: var(--fio-sys-spacing-padding-lg);

	/* Card - footer */
	--fio-component-card-footer-padding-y: var(--fio-sys-spacing-padding-md);
	--fio-component-card-footer-padding-x: var(--fio-sys-spacing-padding-md);

	/* BOX MODAL */

	--fio-component-modal-background-color: var(--fio-component-card-background);
	--fio-component-modal-border-color: var(--fio-component-card-border-color);
	--fio-component-modal-border-width: var(--fio-component-card-border-width);
	--fio-component-modal-border-radius: var(--fio-component-card-border-radius);

	--fio-component-modal-header-family: var(--fio-sys-typography-title-small-family);
	--fio-component-modal-header-line-height: var(--fio-sys-typography-title-small-line-height);
	--fio-component-modal-header-size: var(--fio-sys-typography-title-small-size);
	--fio-component-modal-header-tracking: var(--fio-sys-typography-title-small-tracking);
	--fio-component-modal-header-weight: var(--fio-sys-typography-title-small-weight);
	--fio-component-modal-header-border-bottom-width: var(--fio-sys-card-border-sm);
	--fio-component-modal-header-border-bottom-color: var(--fio-sys-color-neutral-medium);

	--fio-component-modal-body-padding-y: var(--fio-sys-space-padding-md);
	--fio-component-modal-body-padding-x: var(--fio-sys-space-padding-md);

	--fio-component-modal-footer-padding-y: var(--fio-sys-space-padding-md);
	--fio-component-modal-footer-padding-x: var(--fio-sys-space-padding-md);

	/* Box - Card */

	--fio-component-box-simple-background-color: var(--fio-component-card-background-color);
	--fio-component-box-simple-border-color: var(--fio-component-card-border-color);
	--fio-component-box-simple-border-width: var(--fio-component-card-border-width);
	--fio-component-box-simple-border-radius: var(--fio-component-card-border-radius);

	--fio-component-box-simple-header-family: var(--fio-sys-typography-title-small-family);
	--fio-component-box-simple-header-line-height: var(--fio-sys-typography-title-small-line-height);
	--fio-component-box-simple-header-size: var(--fio-sys-typography-title-small-size);
	--fio-component-box-simple-header-tracking: var(--fio-sys-typography-title-small-tracking);
	--fio-component-box-simple-header-weight: var(--fio-sys-typography-title-small-weight);
	--fio-component-box-simple-header-border-bottom-width: var(--fio-sys-card-border-sm);
	--fio-component-box-simple-header-border-bottom-color: var(--fio-sys-color-neutral-medium);

	--fio-component-box-simple-body-padding-y: var(--fio-sys-space-padding-md);
	--fio-component-box-simple-body-padding-x: var(--fio-sys-space-padding-md);

	--fio-component-box-simple-footer-padding-y: var(--fio-sys-space-padding-md);
	--fio-component-box-simple-footer-padding-x: var(--fio-sys-space-padding-md);

	/* Box - Special */

	--fio-component-box-simple-background-color: var(--fio-component-card-background-color);
	--fio-component-box-simple-border-color: var(--fio-component-card-border-color);
	--fio-component-box-simple-border-width: var(--fio-sys-card-border-md);
	--fio-component-box-simple-border-radius: var(--fio-component-card-border-radius);

	--fio-component-box-simple-header-family: var(--fio-sys-typography-label-medium-family);
	--fio-component-box-simple-header-line-height: var(--fio-sys-typography-label-medium-line-height);
	--fio-component-box-simple-header-size: var(--fio-sys-typography-label-medium-size);
	--fio-component-box-simple-header-tracking: var(--fio-sys-typography-label-medium-tracking);
	--fio-component-box-simple-header-weight: var(--fio-sys-typography-label-medium-weight);
	--fio-component-box-simple-header-transform: var(--fio-sys-typography-label-medium-transform);
	--fio-component-box-simple-header-background: var(--fio-sys-color-accent-medium);
	--fio-component-box-simple-header-color: var(--fio-sys-color-neutral-white);

	--fio-component-box-simple-header-border-width: var(--fio-sys-card-border-sm);
	--fio-component-box-simple-header-border-color: var(--fio-sys-color-neutral-medium);

	--fio-component-box-simple-body-padding-y: var(--fio-sys-space-padding-sm);
	--fio-component-box-simple-body-padding-x: var(--fio-sys-space-padding-sm);

	/* Box - Quotation */

	/* Dropdown */
	/* List */
	/* Popover */
	/* Accordion */
	/* Tabs */

	/* Accordion Image (collapse)*/
	/* Carousel */
	/* Navbar */

	/* Alerts */

	/* PAGE AREAS */

	/* 
	header
    sidebar
    main
		opening
		main-title
		second-title
		third-title
		page-navigation

    section
    footer 
	*/

	/* COMPONENTS */

	/* Collapse (behavior) */
	/* Offcanvas */
}
