:root {
	/* System Globals*/

	/* --- KEY COLORS - HSL format --- */

	--fio-ref-color-primary: 5, 44%; /* hue, saturation% */
	--fio-ref-color-secondary: 29, 80%;
	--fio-ref-color-secondary-button: 193, 26%;
	--fio-ref-color-tertiary: 35, 73%;
	--fio-ref-color-neutral: 42, 33%;
	--fio-ref-color-text: var(--fio-ref-color-neutral);
	--fio-ref-color-success: 135, 60%;
	--fio-ref-color-warning: 50, 100%;
	--fio-ref-color-attention: 30, 100%;
	--fio-ref-color-error: 5, 80%;
	--fio-ref-color-extra: 191, 62%;

	/* Palettes */

	--fio-ref-color-primary-0: hsl(var(--fio-ref-color-primary), 0%);
	--fio-ref-color-primary-10: hsl(var(--fio-ref-color-primary), 10%);
	--fio-ref-color-primary-20: hsl(var(--fio-ref-color-primary), 20%);
	--fio-ref-color-primary-30: hsl(var(--fio-ref-color-primary), 30%);
	--fio-ref-color-primary-40: hsl(var(--fio-ref-color-primary), 40%);
	--fio-ref-color-primary-50: hsl(var(--fio-ref-color-primary), 50%);
	--fio-ref-color-primary-60: hsl(var(--fio-ref-color-primary), 60%);
	--fio-ref-color-primary-70: hsl(var(--fio-ref-color-primary), 70%);
	--fio-ref-color-primary-80: hsl(var(--fio-ref-color-primary), 80%);
	--fio-ref-color-primary-90: hsl(var(--fio-ref-color-primary), 90%);
	--fio-ref-color-primary-95: hsl(var(--fio-ref-color-primary), 95%);
	--fio-ref-color-primary-99: hsl(var(--fio-ref-color-primary), 99%);
	--fio-ref-color-primary-100: hsl(var(--fio-ref-color-primary), 100%);

	--fio-ref-color-secondary-0: hsl(var(--fio-ref-color-secondary), 0%);
	--fio-ref-color-secondary-10: hsl(var(--fio-ref-color-secondary), 10%);
	--fio-ref-color-secondary-20: hsl(var(--fio-ref-color-secondary), 20%);
	--fio-ref-color-secondary-30: hsl(var(--fio-ref-color-secondary), 30%);
	--fio-ref-color-secondary-40: hsl(var(--fio-ref-color-secondary), 40%);
	--fio-ref-color-secondary-button-41: hsl(var(--fio-ref-color-secondary-button),41%);
	--fio-ref-color-secondary-50: hsl(var(--fio-ref-color-secondary), 50%);
	--fio-ref-color-secondary-60: hsl(var(--fio-ref-color-secondary), 60%);
	--fio-ref-color-secondary-70: hsl(var(--fio-ref-color-secondary), 70%);
	--fio-ref-color-secondary-71: hsl(var(--fio-ref-color-secondary), 71%);
	--fio-ref-color-secondary-80: hsl(var(--fio-ref-color-secondary), 80%);
	--fio-ref-color-secondary-90: hsl(var(--fio-ref-color-secondary), 90%);
	--fio-ref-color-secondary-95: hsl(var(--fio-ref-color-secondary), 95%);
	--fio-ref-color-secondary-99: hsl(var(--fio-ref-color-secondary), 99%);
	--fio-ref-color-secondary-100: hsl(var(--fio-ref-color-secondary), 100%);

	--fio-ref-color-tertiary-0: hsl(var(--fio-ref-color-tertiary), 0%);
	--fio-ref-color-tertiary-10: hsl(var(--fio-ref-color-tertiary), 10%);
	--fio-ref-color-tertiary-20: hsl(var(--fio-ref-color-tertiary), 20%);
	--fio-ref-color-tertiary-30: hsl(var(--fio-ref-color-tertiary), 30%);
	--fio-ref-color-tertiary-40: hsl(var(--fio-ref-color-tertiary), 40%);
	--fio-ref-color-tertiary-50: hsl(var(--fio-ref-color-tertiary), 50%);
	--fio-ref-color-tertiary-60: hsl(var(--fio-ref-color-tertiary), 60%);
	--fio-ref-color-tertiary-70: hsl(var(--fio-ref-color-tertiary), 70%);
	--fio-ref-color-tertiary-80: hsl(var(--fio-ref-color-tertiary), 80%);
	--fio-ref-color-tertiary-90: hsl(var(--fio-ref-color-tertiary), 90%);
	--fio-ref-color-tertiary-95: hsl(var(--fio-ref-color-tertiary), 95%);
	--fio-ref-color-tertiary-99: hsl(var(--fio-ref-color-tertiary), 99%);
	--fio-ref-color-tertiary-100: hsl(var(--fio-ref-color-tertiary), 100%);

	--fio-ref-color-neutral-0: hsl(var(--fio-ref-color-neutral), 0%);
	--fio-ref-color-neutral-10: hsl(var(--fio-ref-color-neutral), 10%);
	--fio-ref-color-neutral-20: hsl(var(--fio-ref-color-neutral), 20%);
	--fio-ref-color-neutral-30: hsl(var(--fio-ref-color-neutral), 30%);
	--fio-ref-color-neutral-40: hsl(var(--fio-ref-color-neutral), 40%);
	--fio-ref-color-neutral-50: hsl(var(--fio-ref-color-neutral), 50%);
	--fio-ref-color-neutral-60: hsl(var(--fio-ref-color-neutral), 60%);
	--fio-ref-color-neutral-70: hsl(var(--fio-ref-color-neutral), 70%);
	--fio-ref-color-neutral-80: hsl(var(--fio-ref-color-neutral), 80%);
	--fio-ref-color-neutral-90: hsl(var(--fio-ref-color-neutral), 90%);
	--fio-ref-color-neutral-95: hsl(var(--fio-ref-color-neutral), 95%);
	--fio-ref-color-neutral-99: hsl(var(--fio-ref-color-neutral), 99%);
	--fio-ref-color-neutral-100: hsl(var(--fio-ref-color-neutral), 100%);

	--fio-ref-color-text-0: hsl(var(--fio-ref-color-text), 0%);
	--fio-ref-color-text-10: hsl(var(--fio-ref-color-text), 10%);
	--fio-ref-color-text-20: hsl(var(--fio-ref-color-text), 20%);
	--fio-ref-color-text-30: hsl(var(--fio-ref-color-text), 30%);
	--fio-ref-color-text-40: hsl(var(--fio-ref-color-text), 40%);
	--fio-ref-color-text-50: hsl(var(--fio-ref-color-text), 50%);
	--fio-ref-color-text-60: hsl(var(--fio-ref-color-text), 60%);
	--fio-ref-color-text-70: hsl(var(--fio-ref-color-text), 70%);
	--fio-ref-color-text-80: hsl(var(--fio-ref-color-text), 80%);
	--fio-ref-color-text-90: hsl(var(--fio-ref-color-text), 90%);
	--fio-ref-color-text-95: hsl(var(--fio-ref-color-text), 95%);
	--fio-ref-color-text-99: hsl(var(--fio-ref-color-text), 99%);
	--fio-ref-color-text-100: hsl(var(--fio-ref-color-text), 100%);

	--fio-ref-color-success-0: hsl(var(--fio-ref-color-success), 0%);
	--fio-ref-color-success-10: hsl(var(--fio-ref-color-success), 10%);
	--fio-ref-color-success-20: hsl(var(--fio-ref-color-success), 20%);
	--fio-ref-color-success-30: hsl(var(--fio-ref-color-success), 30%);
	--fio-ref-color-success-40: hsl(var(--fio-ref-color-success), 40%);
	--fio-ref-color-success-50: hsl(var(--fio-ref-color-success), 50%);
	--fio-ref-color-success-60: hsl(var(--fio-ref-color-success), 60%);
	--fio-ref-color-success-70: hsl(var(--fio-ref-color-success), 70%);
	--fio-ref-color-success-80: hsl(var(--fio-ref-color-success), 80%);
	--fio-ref-color-success-90: hsl(var(--fio-ref-color-success), 90%);
	--fio-ref-color-success-95: hsl(var(--fio-ref-color-success), 95%);
	--fio-ref-color-success-99: hsl(var(--fio-ref-color-success), 99%);
	--fio-ref-color-success-100: hsl(var(--fio-ref-color-success), 100%);

	--fio-ref-color-warning-0: hsl(var(--fio-ref-color-warning), 0%);
	--fio-ref-color-warning-10: hsl(var(--fio-ref-color-warning), 10%);
	--fio-ref-color-warning-20: hsl(var(--fio-ref-color-warning), 20%);
	--fio-ref-color-warning-30: hsl(var(--fio-ref-color-warning), 30%);
	--fio-ref-color-warning-40: hsl(var(--fio-ref-color-warning), 40%);
	--fio-ref-color-warning-50: hsl(var(--fio-ref-color-warning), 50%);
	--fio-ref-color-warning-60: hsl(var(--fio-ref-color-warning), 60%);
	--fio-ref-color-warning-70: hsl(var(--fio-ref-color-warning), 70%);
	--fio-ref-color-warning-80: hsl(var(--fio-ref-color-warning), 80%);
	--fio-ref-color-warning-90: hsl(var(--fio-ref-color-warning), 90%);
	--fio-ref-color-warning-95: hsl(var(--fio-ref-color-warning), 95%);
	--fio-ref-color-warning-99: hsl(var(--fio-ref-color-warning), 99%);
	--fio-ref-color-warning-100: hsl(var(--fio-ref-color-warning), 100%);


	--fio-ref-color-attention-0: hsl(var(--fio-ref-color-attention), 0%);
	--fio-ref-color-attention-10: hsl(var(--fio-ref-color-attention), 10%);
	--fio-ref-color-attention-20: hsl(var(--fio-ref-color-attention), 20%);
	--fio-ref-color-attention-30: hsl(var(--fio-ref-color-attention), 30%);
	--fio-ref-color-attention-40: hsl(var(--fio-ref-color-attention), 40%);
	--fio-ref-color-attention-50: hsl(var(--fio-ref-color-attention), 50%);
	--fio-ref-color-attention-60: hsl(var(--fio-ref-color-attention), 60%);
	--fio-ref-color-attention-70: hsl(var(--fio-ref-color-attention), 70%);
	--fio-ref-color-attention-80: hsl(var(--fio-ref-color-attention), 80%);
	--fio-ref-color-attention-90: hsl(var(--fio-ref-color-attention), 90%);
	--fio-ref-color-attention-95: hsl(var(--fio-ref-color-attention), 95%);
	--fio-ref-color-attention-99: hsl(var(--fio-ref-color-attention), 99%);
	--fio-ref-color-attention-100: hsl(var(--fio-ref-color-attention), 100%);

	--fio-ref-color-error-0: hsl(var(--fio-ref-color-error), 0%);
	--fio-ref-color-error-10: hsl(var(--fio-ref-color-error), 10%);
	--fio-ref-color-error-20: hsl(var(--fio-ref-color-error), 20%);
	--fio-ref-color-error-30: hsl(var(--fio-ref-color-error), 30%);
	--fio-ref-color-error-40: hsl(var(--fio-ref-color-error), 40%);
	--fio-ref-color-error-50: hsl(var(--fio-ref-color-error), 50%);
	--fio-ref-color-error-60: hsl(var(--fio-ref-color-error), 60%);
	--fio-ref-color-error-70: hsl(var(--fio-ref-color-error), 70%);
	--fio-ref-color-error-80: hsl(var(--fio-ref-color-error), 80%);
	--fio-ref-color-error-90: hsl(var(--fio-ref-color-error), 90%);
	--fio-ref-color-error-95: hsl(var(--fio-ref-color-error), 95%);
	--fio-ref-color-error-99: hsl(var(--fio-ref-color-error), 99%);
	--fio-ref-color-error-100: hsl(var(--fio-ref-color-error), 100%);
	
	--fio-ref-color-extra-15: hsl(var(--fio-ref-color-extra), 15%);

	/* --- SIZE --- */

	--fio-ref-size-base: 18.67px;

	--fio-ref-size-0: 0;
	--fio-ref-size-025: calc(var(--fio-ref-size-base) * 0.25); /* 4px */
	--fio-ref-size-050: calc(var(--fio-ref-size-base) * 0.5); /* 8px */
	--fio-ref-size-075: calc(var(--fio-ref-size-base) * 0.75); /* 12px */
	--fio-ref-size-100: calc(var(--fio-ref-size-base) * 1); /* 16px */
	--fio-ref-size-125: calc(var(--fio-ref-size-base) * 1.25); /* 20px */
	--fio-ref-size-150: calc(var(--fio-ref-size-base) * 1.5); /* 24px */
	--fio-ref-size-175: calc(var(--fio-ref-size-base) * 1.75); /* 28px */
	--fio-ref-size-200: calc(var(--fio-ref-size-base) * 2); /* 32px */
	--fio-ref-size-250: calc(var(--fio-ref-size-base) * 2.5); /* 40px */
	--fio-ref-size-300: calc(var(--fio-ref-size-base) * 3); /* 48px */
	--fio-ref-size-400: calc(var(--fio-ref-size-base) * 4); /* 64px */
	--fio-ref-size-500: calc(var(--fio-ref-size-base) * 5); /* 80px */
	--fio-ref-size-600: calc(var(--fio-ref-size-base) * 6); /* 96px */
	--fio-ref-size-800: calc(var(--fio-ref-size-base) * 8); /* 128px */
	--fio-ref-size-1000: calc(var(--fio-ref-size-base) * 10); /* 160px */

	/* Padding */
	--fio-ref-size-padding-base: var(--fio-ref-size-base);

	--fio-ref-size-padding-0: 0;
	--fio-ref-size-padding-050: calc(var(--fio-ref-size-padding-base) * 0.5);
	--fio-ref-size-padding-100: calc(var(--fio-ref-size-padding-base) * 0.75);
	--fio-ref-size-padding-150: calc(var(--fio-ref-size-padding-base) * 1.25);
	--fio-ref-size-padding-200: calc(var(--fio-ref-size-padding-base) * 1.75);
	--fio-ref-size-padding-250: calc(var(--fio-ref-size-padding-base) * 2.5);

	/* Margin */
	--fio-ref-size-margin-base: var(--fio-ref-size-base);

	--fio-ref-size-margin-0: 0;
	--fio-ref-size-margin-075: calc(var(--fio-ref-size-margin-base) * 0.75);
	--fio-ref-size-margin-125: calc(var(--fio-ref-size-margin-base) * 1.25);
	--fio-ref-size-margin-175: calc(var(--fio-ref-size-margin-base) * 1.75);
	--fio-ref-size-margin-250: calc(var(--fio-ref-size-margin-base) * 2.5);

	/* Border radius */
	--fio-ref-size-radius-base: var(--fio-ref-size-base);

	--fio-ref-size-radius-none: 0;
	--fio-ref-size-radius-025: calc(var(--fio-ref-size-radius-base) * 0.25);
	--fio-ref-size-radius-050: calc(var(--fio-ref-size-radius-base) * 0.5);
	--fio-ref-size-radius-075: calc(var(--fio-ref-size-radius-base) * 0.75);
	--fio-ref-size-radius-100: calc(var(--fio-ref-size-radius-base) * 1);
	--fio-ref-size-radius-125: calc(var(--fio-ref-size-radius-base) * 1.25);
	--fio-ref-size-radius-full: calc(var(--fio-ref-size-radius-base) * 100);

	/* Border width */
	--fio-ref-size-border-base: var(--fio-ref-size-base);

	--fio-ref-size-border-0: 0;
	--fio-ref-size-border-1: calc(var(--fio-ref-size-border-base) * 0.0625);
	--fio-ref-size-border-2: calc(var(--fio-ref-size-border-base) * 0.125);
	--fio-ref-size-border-3: calc(var(--fio-ref-size-border-base) * 0.1875);
	--fio-ref-size-border-4: calc(var(--fio-ref-size-border-base) * 0.25);
	--fio-ref-size-border-6: calc(var(--fio-ref-size-border-base) * 0.375);

	/* Opacity */
	--fio-ref-size-opacity-0: 0;
	--fio-ref-size-opacity-25: 25%;
	--fio-ref-size-opacity-50: 50%;
	--fio-ref-size-opacity-75: 75%;
	--fio-ref-size-opacity-100: 100%;

	/* Shadow */
	--fio-ref-size-shadow-base: var(--fio-ref-size-base);

	--fio-ref-size-shadow-0: 0;
	--fio-ref-size-shadow-2: 0 calc(var(--fio-ref-size-shadow-base) * 0.125) calc(var(--fio-ref-size-shadow-base) * 0.25);
	--fio-ref-size-shadow-4: 0 calc(var(--fio-ref-size-shadow-base) * 0.25) calc(var(--fio-ref-size-shadow-base) * 0.5);
	--fio-ref-size-shadow-8: 0 calc(var(--fio-ref-size-shadow-base) * 0.5) calc(var(--fio-ref-size-shadow-base) * 1);
	--fio-ref-size-shadow-16: 0 calc(var(--fio-ref-size-shadow-base) * 1) calc(var(--fio-ref-size-shadow-base) * 2);
	--fio-ref-size-shadow-32: 0 calc(var(--fio-ref-size-shadow-base) * 2) calc(var(--fio-ref-size-shadow-base) * 4);

	/* --- TYPOGRAPHY --- */

	--fio-ref-typography-family-primary: Josefin Sans;
	--fio-ref-typography-family-secondary: Lato;

	--fio-ref-typography-family-secondary-regular: var(--fio-ref-typography-family-secondary) Regular, sans-serif;
	--fio-ref-typography-family-secondary-bold: var(--fio-ref-typography-family-secondary) Bold, sans-serif;
	--fio-ref-typography-family-secondary-black: var(--fio-ref-typography-family-secondary) Black, sans-serif;

	--fio-ref-typography-family-primary-light: var(--fio-ref-typography-family-primary) Light, sans-serif;
	--fio-ref-typography-family-primary-light-italic: var(--fio-ref-typography-family-primary) Light Italic, sans-serif;
	--fio-ref-typography-family-primary-regular: var(--fio-ref-typography-family-primary) Regular, sans-serif;
	--fio-ref-typography-family-primary-italic: var(--fio-ref-typography-family-primary) Italic, sans-serif;
	--fio-ref-typography-family-primary-medium: var(--fio-ref-typography-family-primary) Medium, sans-serif;
	--fio-ref-typography-family-primary-medium-italic: var(--fio-ref-typography-family-primary) Medium Italic, sans-serif;
	--fio-ref-typography-family-primary-semibold: var(--fio-ref-typography-family-primary) SemiBold, sans-serif;
	--fio-ref-typography-family-primary-semibold-italic: var(--fio-ref-typography-family-primary) SemiBold Italic, sans-serif;
	--fio-ref-typography-family-primary-bold: var(--fio-ref-typography-family-primary) Bold, sans-serif;
	--fio-ref-typography-family-primary-bold-italic: var(--fio-ref-typography-family-primary) Bold Italic, sans-serif;

	--fio-ref-typography-size-base: var(--fio-ref-size-base) * 1;

	--fio-ref-typography-size-075: calc(var(--fio-ref-typography-size-base) * 0.75);
	--fio-ref-typography-size-100: calc(var(--fio-ref-typography-size-base) * 1);
	--fio-ref-typography-size-125: calc(var(--fio-ref-typography-size-base) * 1.25);
	--fio-ref-typography-size-150: calc(var(--fio-ref-typography-size-base) * 1.5);
	--fio-ref-typography-size-200: calc(var(--fio-ref-typography-size-base) * 2);
	--fio-ref-typography-size-250: calc(var(--fio-ref-typography-size-base) * 2.5);
	--fio-ref-typography-size-300: calc(var(--fio-ref-typography-size-base) * 3);
	--fio-ref-typography-size-350: calc(var(--fio-ref-typography-size-base) * 3.5);
	--fio-ref-typography-size-400: calc(var(--fio-ref-typography-size-base) * 4);
	--fio-ref-typography-size-500: calc(var(--fio-ref-typography-size-base) * 5);

	--fio-ref-typography-height-sm: 1.1;
	--fio-ref-typography-height-md: 1.25;
	--fio-ref-typography-height-lg: 1.5;

	--fio-ref-typography-weight-lighter: 200;
	--fio-ref-typography-weight-light: 300;
	--fio-ref-typography-weight-normal: 400;
	--fio-ref-typography-weight-bold: 700;
	--fio-ref-typography-weight-bolder: 900;

	--fio-ref-typography-spacing-dense: -4px;
	--fio-ref-typography-spacing-normal: 0;
	--fio-ref-typography-spacing-wide: 4px;
}