/* --- POPOVER --- */

a[data-bs-toggle="popover"]:not([href]):not([class]), 
a[data-bs-toggle="popover"]:not([href]):not([class]):hover {
    color: var(--fio-sys-typography-link-color--hover);
    text-decoration: none;
}

.popover {
    background-color: var(--fio-sys-neutral-color-extra-light);
    border: var(--fio-component-card-border-width) solid var(--fio-sys-primary-color-light);
    border-radius: var(--fio-sys-spacing-border-radius-md);
    box-shadow: var(--fio-sys-elevation-lg);
    max-width: 300px;
}

.popover-header {
    background-color: var(--fio-sys-secondary-color);
    border-bottom: none;
    border-top-left-radius: var(--fio-sys-spacing-border-radius-md);
    border-top-right-radius: var(--fio-sys-spacing-border-radius-md);
    color:var(--fio-sys-neutral-color-extra-light);
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1rem; 
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, 
.bs-popover-top>.popover-arrow::after {
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: var(--fio-sys-secondary-color);
}

.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::after, 
.bs-popover-end>.popover-arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: var(--fio-sys-secondary-color);
    border-color: transparent;
    border-right-color: var(--fio-sys-secondary-color);
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, 
.bs-popover-bottom>.popover-arrow::after {
    top: 1px;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: var(--fio-sys-secondary-color);
}

.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::before, 
.bs-popover-end>.popover-arrow::before {
    border-right-color: transparent;
}


